<!-- Navigation Bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-white nav_line">
  <div class="d-flex">
  <a class="navbar-brand fw-bold logo_name" href="#">Rathnesh</a>
  <span class="box"></span>
</div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold nav_space">
      <li class="nav-item">
        <a class="nav-link active text-danger me-4" aria-current="page">Home</a>
      </li>
      <li>
        <a class="nav-link active me-4" aria-current="page">About</a>
      </li>
      <li>
        <a class="nav-link active me-4" aria-current="page">Service</a>
      </li>
      <li>
        <a class="nav-link active me-4" aria-current="page">Experience</a>
      </li>
      <li>
        <a class="nav-link active me-4" aria-current="page" href="#">work</a>
      </li>
      <li>
        <a class="nav-link active me-4" aria-current="page" href="#">Blog</a>
      </li>
      <li class="d-flex">
        <a class="nav-link active" aria-current="page" href="#">Contact</a>
        <i class="fa-solid fa-moon icon"></i>
      </li>
    </ul>
  </div>
</nav>

<!-- Profile  -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="profile">
        <img class="circle_img" src="../assets/Image/Profile picture.jpg" alt="Profile Picture">
        <span class="fs-3 fw-bold">Rathnesh Kumar Pandey</span>
        <p>I am a Front Developer</p>
        <div>
          <i class="fa-brands fa-instagram fs-4 me-3"></i>
          <i class="fa-brands fa-facebook fs-4 me-3"></i>
          <i class="fa-brands fa-twitter fs-4 me-3"></i>
          <i class="fa-brands fa-github fs-4 me-3"></i>
          <i class="fa-brands fa-linkedin fs-4 me-3"></i>
        </div>
        <button type="button" class="btn btn_profile text-white">Hire Me</button>
        <p>Scroll Down</p>
        <button type="button" class="bt_profile">|</button>
      </div>
    </div>
  </div>
</div>